* {
    padding: 0;
    margin: 0;
}

.signup-main-page {
    display: flex;
    justify-content: center;
    /* background-image: url('../../assets/quote-blurred-bg1.png');
    background-position: center center;
    background-size: cover; */
    padding: 0;
    margin: 0;
}

.signup-container {
    background-color: white;
    border-radius: 5px;
    width: 700px;
    border: 1px solid rgb(226, 226, 226);    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10%;
    display: flex;

}

.signup-leftside {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    padding: 60% 10px 0px 15px;
    color: white;
    width: 50%;
    background-image: url('../../assets/signupbackground.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.signup-welcome{
    position: absolute;
    top: 2%;
    max-width: 100%;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3vw;
    line-height: 5rem;
    text-transform: capitalize;

}

.signup-rightside {
    display: flex;
    flex: 1;
    padding: 15px 20px;
    background-color: white;
    flex-direction: column;
}

.signup-rightside p{
    font-weight: 500;
    font-size: 18px;
}

.form-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.form-field label{
    margin: 5px 0px;
    font-size: 14px;
}

.form-checkbox{
    margin-top: 10px;
}

.signup-button{
    display: flex;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
}

.signin-button-div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.signin-button-div p{
    font-weight: lighter;
    font-size: 14px;
    align-items: center;
    padding: 0;
    margin: 0;
}