.topbar{
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(226, 226, 226);
}

.signout-div{
    width: 100%;
    border: none;
}
button{
    border: none;
    float: right;
    padding: 8px;
    justify-content: end;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(255, 63, 63);
}
button:hover{
    background-color: rgb(255, 17, 17);
    border: none;
    outline: none;
}

button:active{
    background-color: rgb(255, 63, 63);
}
