.component-card-container{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px 20px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}

.component-card-container:hover{
    transition: 0.4s;
    cursor: pointer;
    border: none;
    border:1px solid rgba(255, 255, 255, 0.18);

    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
.component-card-title{
    font-weight: 400;
    margin: 10px;
    font-size: 18px;
    color: #8CABFF;
}
.component-detail{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.component-detail-item{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.detail-type{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
   
}
.detail-name{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    background-color: rgb(66, 142, 242);
    border-radius: 5px;
    padding: 2px 4px;
    margin: 5px;
}
.component-detail-item p{
    margin: 0;
}

.edit-button{
    background-color: #4D2DB7;
}
.edit-button:hover{
    background-color: #64CCC5;
}

.edit-record-modalbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edit-record-modalbody input{
    margin: 5px;
    align-items: center;
    padding: 5px;
}
.modalbody-item{
    margin: 10px;
}