* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;

}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #eeeeee;
  background-position: center center;
  background-repeat: no-repeat;
}

.home::-webkit-scrollbar {
  display: none;
}
.home {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.left-panel {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;

}

.quote-section {
  display: flex;
  flex-direction: row;
}

