* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.home {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #eeeeee;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: auto;
}

.home::-webkit-scrollbar {
  display: none;
}
.home {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left-panel {
  display: flex;
  height: fit-content !important;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  z-index: 999999;
}
.right-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 12%;
}
.right-panel2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 12%;
}

.quote-section {
  display: flex;
  flex-direction: row;
  padding-left: 1% !important;
}
.component-section {
  display: flex;
  flex-direction: row;
  padding-left: 1% !important;
}

@media screen and (max-width: 1270px) {
  .quote-section {
    flex-direction: column;
  }
  .component-section {
    flex-direction: column;
  }
  .left-panel {
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .right-panel{
    max-width: fit-content;
  }
  .right-panel2{
    max-width: fit-content;
  }
}

@media screen and (min-width: 2560px) {
  .right-panel{
    max-width: 80% !important;
    min-height: 95vh !important;
  }
  .right-panel2{
    flex-grow: 1;
    max-width: 100% !important;
    min-height: 95vh !important;
  }
}
@media screen and (min-width: 3840px) {
  .right-panel2{
    min-width: 80% !important;
    min-height: 95vh !important;
  }
  .component-section{
    min-height: 60vh !important;
    background-color: orange;
  }
}


