.menu {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100vh;
    border-right: 1px solid rgb(226, 226, 226);    
}

.menu-item {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 15px;
    transition: background-color 0.5s, color 0.3s; /* Add transitions */
}

.menu-item:hover {
    cursor: pointer;
    background-color: #bcf2c7;
    color: #116530;
}

.menu-icon {
    margin-right: 4px; /* Add margin to separate icon and text */
}

.menu-item p {
    margin: 0; /* Remove default margin */
    font-size: 14px;
}
