.quotelist-item-container {
  display: flex;
  margin: 0px 5px 10px 0px;
  padding: 20px;
  flex-direction: column;
  color: var(--light-p2);
  background-color: var(--bg-light-primary);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  scroll-behavior: smooth;
  max-width: 42vh;
  list-style: none;
}
.quotelist-item-title {
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--light-p2);
}
.search-field {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgb(107, 114, 142);
  border-radius: 5px;
  padding-right: 5px;
}

.search-field input {
  padding: 15px;
  border-radius: 5px;
}
.show-archquotes-button{
  min-width: 25% !important;
}

.quoteitems-list {
  max-height: 60vh;
  overflow: auto;
  max-width: 40vh;
  scroll-behavior: smooth;
  scrollbar-gutter: 5px;
}
.quoteitems-list::-webkit-scrollbar {
  width: 15px;
}

.filter-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.filter-field select {
  padding: 5px;
  margin: 10px 0px;
  width: 100px;
}

.quote-name {
  cursor: pointer;
  margin: 5px 0px;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: rgb(103, 191, 255);
    color: var(--bg-light-primary);
    transition: 0.2s ease-in;
  }
}
.quotelist-field{
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.prebuilds-btn{
  display: none !important;
}
.prebuilds-btn-admin{
  display: block !important;
}

@media screen and (min-width: 2160px) {
  .quotelist-item-container{
    min-height: 70vh;
    min-width: 25vh ;
  }
  
}

@media screen and (min-width: 2560px) {
  .quotelist-item-container {
    min-width: 30vh !important;
    font-size: 26px !important;
    min-height: 80vh;
  }
  .quoteitems-list {
    min-height: 70vh;
    overflow: auto;
    max-width: 30vh;
    scroll-behavior: smooth;
    scrollbar-gutter: 5px;
  }
  .quoteitems-list::-webkit-scrollbar {
    min-height: 90vh; /* Define the height you want for the scrollbar thumb */
  }
  .filter-field {
    width: 100% !important;
  }
  .option {
    font-size: 10px;
  }
  .search-icon {
    font-size: 40px !important;
    margin-right: 1%;
  }

  .filter-field {
    width: 100% !important;
  }
  .filter-field-select {
    font-size: 40px !important;
    width: 100px !important;
  }
  .filter-field-select .option {
    width: 300px !important;
  }
  .option {
    font-size: 10px;
  }
  .add-button {
    min-width: 20% !important;
    min-height: 80px;
  }
  .add-btn-icon {
    font-size: 50px !important;
  }
}

@media screen and (min-width: 3840px) {
  .quotelist-item-container {
    min-width: 36vh !important;
    font-size: 50px !important;
  }
  .quoteitems-list {
    max-height: 60vh;
    overflow: auto;
    min-width: 90%;
    scroll-behavior: smooth;
    scrollbar-gutter: 5px;
  }
  .search-icon {
    font-size: 40px !important;
    margin-right: 1%;
  }

  .filter-field {
    width: 100% !important;
  }
  .filter-field-select {
    font-size: 40px !important;
    width: 300px !important;
  }
  .filter-field-select .option {
    width: 300px !important;
  }
  .option {
    font-size: 10px;
  }
  .add-button {
    min-width: 20% !important;
    min-height: 80px;
  }
  .add-btn-icon {
    font-size: 50px !important;
  }
}
