.quotelist-item-container {
    display: flex;
    margin: 10px 5px 10px 10px;
    padding: 20px;
    flex-direction: column;
    color: var(--light-p2);
    background-color: var(--bg-light-primary);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    scroll-behavior: smooth;
    max-width: 40vh;
}

.quotelist-item-title {
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--light-p2);
}
.search-field {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgb(107, 114, 142);
    border-radius: 5px;
    padding-right: 5px;
}

.search-field input {
    padding: 15px;
    border-radius: 5px;
}

.quoteitems-list{
    max-height: 60vh;
    overflow: auto;
    max-width: 40vh;
    scroll-behavior: smooth;
    scrollbar-gutter: 5px;
}
.quoteitems-list::-webkit-scrollbar{
    width:15px;
}

.filter-field{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.filter-field select{
    padding: 5px;
    margin: 10px 0px;
    width: 100px;
}