.quote-details-container {
  display: flex;
  flex-direction: row;
  width: 130vh;
  color: var(--light-h);
  background-color: var(--bg-light-primary);
  margin: 0px 5px;
  border-radius: 5px;
  padding: 10px 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 2px 2px;
  scroll-behavior: smooth;
}
.quote-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quote-details-title {
  font-weight: bold;
  padding: 15px 0 0 15px;
  font-size: 18px;
  text-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}

.quote-details-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.quote-details-column {
  padding: 10px 10px;
  width: 98%;
  background-color: var(--bg-light-primary);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgb(187, 187, 187);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  margin: 0px 10px;
}
.mui-button-custom {
  padding: 0;
  min-height: 0;
  min-width: 0;
  background-color: red;
}
.quote-details-column p {
  font-weight: 400;
}

label {
  font-weight: 400;
}

.quote-details-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0;
}

.quote-details-controls h4 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}

.builds-filter {
  max-width: 150px !important;
  word-wrap: break-word;
  margin: 10px 5px;
  padding: 10px;
  text-align: center;
}

input[type="text"] {
  text-align: left;
}

#dropdown2:hover,
#dropdown:hover {
  cursor: pointer;
}

.modalbodyexport-item {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.modalbodyexport-item select {
  padding: 5px;
  width: 60%;
}

.modalbodyexport-item label {
  padding: 0;
  margin: 0;
}

.export-list li {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.export-list li:hover,
label:hover {
  cursor: pointer;
}

li label {
  margin: 0;
  color: black;
}
.quote-comps-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.export-list-item:hover {
  background-color: lightskyblue;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.input-check {
  margin-right: 10px;
}

.close-button {
  padding: 5px;
}

.scrollable-list {
  max-height: 400px;
  /* Adjust the height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.single-quote-details {
  display: flex;
  font-weight: 400;
  flex-direction: row;
  justify-content: space-between;
}

.single-quote-details ol {
  margin-left: 15px;
}
.single-quote-left {
  width: 98%;
}
.single-quote-left p,
.single-quote-left p {
  color: var(--light-heading);
  font-weight: 400;
  margin-bottom: 0;
}
.single-quote-left ol {
  color: var(--light-list);
}
.single-quote-left h4 {
  color: var(--light-headingtop);
  font-weight: bold;
}
.single-quote-right p {
  font-weight: bold;
  margin: 5px 0px;
}

.single-quote-left h4 {
  margin: 0;
  font-size: 20px;
}

.add-components-btn {
  margin-top: 10px !important;
  align-self: flex-end;
}

.quote-btns {
  display: flex;
  gap: 5px;
}
.quote-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quotelist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border-radius: 10px;
  cursor: context-menu;
}
.quotelist-item:hover {
  background-color: rgb(235, 235, 235);
}

.editbtn {
  max-width: fit-content;
  margin: 10px !important;
  max-height: 50px !important;
}
.quote-btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.rounded-edit {
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  border: 1px solid rgb(86, 170, 255);
  &:hover {
    background-color: rgb(176, 216, 255);
  }
}

.rounded-delete {
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 170, 170);
  }
}

.comp-item p {
  font-weight: 400 !important;
}

.quote-btm-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.build-fee-row {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
}

.quote-btm-list-item {
  display: flex;
  flex-direction: column;
  gap: 5px !important;
  & :nth-child(1) {
    color: #333;
    margin: 2px 2px 0px 2px !important;
  }
  & :nth-child(2) {
    color: var(--light-h);
    margin: 0px 2px !important;
  }
  & input {
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: large;
  }
}
.archived-quote-line{
  font-style: italic;
  color: var(--light-p) !important;
  margin-bottom: 10px;
}
.custom-export-body {
  min-height: 500px;
  background-color: #f8f9fa;
  color: #333;
  overflow: hidden;
}
.export-list {
  max-height: 400px;
  overflow: auto;
}
.MuiDataGrid-root {
  border: 1px solid rgb(187, 187, 187) !important ;
}
.MuiDataGrid-row {
  border: 1px solid rgb(187, 187, 187);
  margin-bottom: 10px !important;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.MuiDataGrid-cell {
  border-right: 1px solid rgb(187, 187, 187) !important;
}

@media screen and (min-width: 2160px) {
  .quote-details-container {
    max-width: 90% !important;
    min-height: 70vh;
  }
}

@media screen and (min-width: 2560px) {
  .quote-details-container {
    max-width: 80% !important;
  }
  .quote-details-title {
    font-size: 1.5rem;
  }
  .quote-details-column p {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .editbtn {
    font-size: 1.1rem !important;
  }
  .single-quote-left h4 {
    font-size: 1.5em !important ;
  }
  .single-quote-left p {
    font-size: 1.3em !important ;
  }

  .MuiDataGrid-row {
    font-size: 1.5rem !important; /* Adjust the desired font size */
  }
  .MuiDataGrid-cell {
    font-size: 1.2rem !important; /* Adjust the desired font size */
  }
  .MuiDataGrid-columnHeader {
    font-size: 1.3rem; /* Adjust the desired font size for column headers */
  }
  .single-quote-right p {
    font-size: 1.2em !important;
  }
}

@media screen and (min-width: 3840px) {
  .quote-details-title {
    font-size: 3rem;
  }
  .quote-details-column p {
    font-weight: 500;
    font-size: 2.4rem;
  }

  .editbtn {
    font-size: 2.2rem !important;
  }
  .single-quote-left h4 {
    font-size: 3em !important ;
  }
  .single-quote-left p {
    font-size: 2.6em !important ;
  }

  .MuiDataGrid-row {
    font-size: 2.3rem !important; /* Adjust the desired font size */
  }
  .MuiDataGrid-cell {
    font-size: 2rem !important; /* Adjust the desired font size */
  }
  .MuiDataGrid-columnHeader {
    font-size: 2.3rem; /* Adjust the desired font size for column headers */
  }
  .single-quote-right p {
    font-size: 2.4em !important;
  }
}
