

.quote-details-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.quote-details-title{
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 18px;
    border-bottom: 2px solid rgb(226, 226, 226);
}

.quote-details-column{
    width: 50%;
    padding: 10px;
}
.detail-items{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.detail-items input{
    padding: 2px;
}
.detail-items select{
    padding: 4px;
    width: 50vh;
}
.search-name-date{
    display: flex;
    justify-content: space-between;
}

label{
    font-weight: 400;
}

.quote-details-components{
    width: 100%;
    padding: 20px;

    height: 100%;
    margin: 0px 20px;
}
.quote-details-components h4{
    font-weight: 500;
    font-size: 20px;
}

.component-list{
    width: 60%;
    margin-bottom: 10px;
}


.add-component{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.add-component button{
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 8px;
    width: 100px;
    justify-content: end;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #45f248;
}
button:hover{
    background-color: #4cd038;
    border: none;
    outline: none;
}

button:active{
    background-color: #2db83d;
}
