:root{
  --bg-light-primary: #fafafa;
  --bg-light-secondary: #e4e5f1;
  --bg-light-container: #d2d3db;
  --light-p: #484b6a;
  --light-p2: #005A8D;
  --light-hover: #388dbe;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Poppins;
}